# Hidden files
.*
!.gitignore
!.github
!.readthedocs.yaml
!.flake8

# Byte / compiled / optimized
*.py[cod]
__pycache__/
*.so

# Distribution / packaging
/build/
/dist/
*.egg-info/
.eggs/
/doc/_generated
html

# Generates
catalog-v001.xml
ESRFET.properties
