.scrollable-table {
    overflow-x: auto;
    overflow-y: auto;
    max-height: 800px;
    border: 1px solid #ddd;
}

.scrollable-table table {
    width: 100%;
    border-collapse: collapse;
}

.scrollable-table th, .scrollable-table td {
    padding: 8px 12px;
    border: 1px solid #ddd;
}

html[data-theme="dark"] table.table-striped tbody tr:nth-child(odd) td {
    color: #ddd  !important;
}

button.copybtn {
    opacity: 0.3;
}

button.copybtn:hover {
    opacity: 1;
}

.scrollable-table table {
    table-layout: fixed;
    width: 100%;
}

.scrollable-table th,
.scrollable-table td {
    overflow-wrap: break-word; 
    white-space: normal; 
    padding: 4px 8px;
}
.scrollable-table th:nth-child(1),
.scrollable-table td:nth-child(1) { width: 15%; }
.scrollable-table th:nth-child(2),
.scrollable-table td:nth-child(2) { width: 25%; } 
.scrollable-table th:nth-child(3),
.scrollable-table td:nth-child(3) { width: 60%; } 

.technique-entry svg {
    fill: #888;
    vertical-align: middle;
}