.scrollable-table {
    overflow-x: auto;
    overflow-y: auto;
    max-height: 800px;
    border: 1px solid #ddd;
}

.scrollable-table table {
    width: 100%;
    border-collapse: collapse;
}

.scrollable-table th, .scrollable-table td {
    padding: 8px 12px;
    border: 1px solid #ddd;
}

html[data-theme="dark"] table.table-striped tbody tr:nth-child(odd) td {
    color: #ddd  !important;
}

button.copybtn {
    opacity: 0.3;
}

button.copybtn:hover {
    opacity: 1;
}
